body {
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
  background: rgb(179, 161, 112);
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

h5 {
  margin: 0;
  padding: 0;
}

.top-boiler {
  height: 80vh;
  width: 80vw;
  margin: auto;
  margin-top: 3rem;
  border: solid black 2px;
  border-radius: 0.9rem;
  box-shadow: darkslategrey 3px 3px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.sky {
  border-top-right-radius: 0.7rem;
  border-top-left-radius: 0.7rem;
  z-index: 0;
}
.land {
  border-bottom-right-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  z-index: 0;
}

.sky {
  display: flex;
  background: rgb(10, 210, 224);
  height: 40%;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.resize-alert {
  display: none;
  color: black;
  font-size: 1.25rem;
  z-index: 20;
}
.resize-alert.active {
  display: block;
}

.sun {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: orange;
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
}

.sun:hover .h5 {
  display: none;
}

.positioner-cloud-1 {
  position: absolute;
  top: 50px;
  left: 60px;
}

.positioner-cloud-2,
.positioner-cloud-3 {
  z-index: 0;
}

.cloud-1 {
  width: 150px;
  height: 50px;
  border-radius: 100%;
  background: #fefefe;
  position: relative;
  z-index: 20;
}

.cloud-1 h1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  text-align: center;
  z-index: 20;
}

.cloud-1 .circle {
  display: block;
  background: #fefefe;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  z-index: 5;
}
.cloud-1 .circle:nth-child(1) {
  position: absolute;
}
.cloud-1 .circle:nth-of-type(2) {
  position: absolute;
  top: -30px;
  left: 30px;
}
.cloud-1 .circle:nth-of-type(3) {
  position: absolute;
  top: -30px;
  left: 80px;
}
.cloud-1 .circle:nth-of-type(4) {
  position: absolute;
  top: 10px;
  left: 110px;
}
.cloud-1 .circle:nth-of-type(5) {
  position: absolute;
  top: 30px;
  left: 30px;
}
.cloud-1 .circle:nth-of-type(6) {
  position: absolute;
  top: 30px;
  left: 70px;
}

.land {
  background: rgb(113, 175, 88);
  height: 60%;
  width: 100%;
  top: 40%;
  position: absolute;
}
.positioner-person-1 {
  position: absolute;
}

.persons {
  width: 75px;
  height: 130px;
}

.person-1.hide {
  display: none;
}

.person-1 {
  position: relative;
  visibility: hidden;
}

.person-1.in {
  visibility: visible;
}
.body {
  display: block;
  position: absolute;
  right: 50%;
  width: 2px;
}

.head-1 {
  border: solid black 2px;
  border-radius: 100%;
  width: 70%;
  height: 35%;
  transform: translateX(50%);
  position: absolute;
}

.body-1 {
  height: 50%;
  background: black;
  position: absolute;
  transform: translateY(74%);
}

.arms {
  height: 20%;
  background: black;
  transform-origin: top;
  transform: translateY(220%) rotate(calc(var(--rotation) * 1deg));
}

.arm-r-1 {
  --rotation: 50;
  position: absolute;
}
.arm-r-1.out {
  --rotation: 50;
  position: absolute;
  animation: run_arm_right 1s infinite;
}
.arm-r-1::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 70%;
  bottom: 0;
  transform-origin: bottom;
  transform: rotate(90deg);
  background: black;
}

.arm-l-1 {
  --rotation: 310;
  position: absolute;
}
.arm-l-1.out {
  --rotation: 310;
  position: absolute;
  animation: run_arm_left 1s infinite;
}

.arm-l-1::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 70%;
  bottom: 0;
  transform-origin: bottom;
  transform: rotate(45deg);
  background: black;
}

.legs {
  --rotation: 0;
  height: 28%;
  width: 2px;
  transform-origin: top;
  background: black;
  transform: translateY(305%) rotate(calc(var(--rotation) * 1deg));
}

.person-1 .leg-l-1 {
  --rotation: 310;
  position: absolute;
}
.person-1 .leg-l-1.out {
  --rotation: 310;
  position: absolute;
  animation: run_leg_left 1s infinite;
}

.person-1 .leg-r-1 {
  --rotation: 50;
  position: absolute;
}
.person-1 .leg-r-1.out {
  --rotation: 50;
  position: absolute;
  animation: run_leg_right 1s infinite;
}

.positioner-pullup-bar {
  position: absolute;
  top: -5%;
  right: 15%;
}

.pullup-bar {
  width: 200px;
  height: 300px;
  position: relative;
}

.pullup-bar h5 {
  position: absolute;
  font-size: 1.25rem;
  transform: translate(35px, 150px);
  z-index: 20;
}
.pullup-bar .bars {
  background: black;
  width: 15px;
  border: 1px solid white;
  border-radius: 0.2rem;
}

.pullup-bar .bar-l {
  position: absolute;
  left: 0;
  height: 100%;
}
.pullup-bar .bar-r {
  position: absolute;
  right: 0;
  height: 100%;
}

.pullup-bar .bar-top {
  position: absolute;
  top: 0;
  height: 110%;
  transform-origin: top;
  transform: translateX(-80px) rotate(-90deg);
}

.person-2 {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0.5);
}

.person-2.hovering {
  visibility: visible;
  transform: translateY(-15%) scale(0.5);
}

.person-2 .legs,
.person-2 .arms,
.person-2 .body-1 {
  width: 5px;
}

.person-2 .head-1 {
  border-width: 5px;
}

.person-2.hovering {
  animation: pullup_person 2s infinite;
}
.person-2.hovering .arm-l-1 {
  transform: translateY(220%) rotate(-160deg) scale(2);
  width: 2px;
  animation: pullup_arms_left 2s infinite;
}
.person-2.hovering .arm-r-1 {
  transform: translateY(220%) rotate(160deg) scale(2);
  width: 2px;
  animation: pullup_arms_right 2s infinite;
}

.person-2.hovering .arm-l-1::after {
  transform: rotate(170deg);
  width: 2px;
  animation: pull_grip_left 2s infinite;
}

.person-2.hovering .arm-r-1::after {
  transform: rotate(190deg);
  width: 2px;
  animation: pull_grip_right 2s infinite;
}

.person-2.hovering .leg-l-1 {
  position: absolute;
  transform: translateY(310%) rotate(-30deg);
}
.person-2.hovering .leg-r-1 {
  position: absolute;
  transform: translateY(310%) rotate(30deg);
}

@keyframes run_arm_left {
  0% {
  }
  50% {
    position: absolute;
    transform: translateY(220%) rotate(-45deg);
  }
}
@keyframes run_arm_right {
  0% {
  }
  50% {
    position: absolute;
    transform: translateY(220%) rotate(45deg);
  }
}

@keyframes run_leg_left {
  0% {
  }
  50% {
    position: absolute;
    transform: translateY(300%) rotate(-45deg);
  }
}

@keyframes run_leg_right {
  0% {
  }
  50% {
    position: absolute;
    transform: translateY(300%) rotate(45deg);
  }
}

@keyframes pullup_arms_left {
  0% {
  }

  50% {
    transform: translateY(240%) rotate(-30deg) scale(1.8);
  }

  100% {
  }
}
@keyframes pullup_arms_right {
  0% {
  }

  50% {
    transform: translateY(240%) rotate(30deg) scale(1.8);
  }

  100% {
  }
}

@keyframes pullup_person {
  0% {
  }

  50% {
    transform: translateY(-55%) scale(0.5);
  }
}

@keyframes pull_grip_left {
  0% {
  }
  25% {
    transform: rotate(50deg);
  }

  50% {
    transform: rotate(50deg);
  }
  60% {
    transform: rotate(60deg);
  }

  90% {
    transform: rotate(160deg);
  }

  100% {
    transform: rotate(170deg);
  }
}
@keyframes pull_grip_right {
  0% {
  }
  25% {
    transform: rotate(310deg);
  }

  50% {
    transform: rotate(310deg);
  }
  60% {
    transform: rotate(300deg);
  }

  90% {
    transform: rotate(200deg);
  }

  100% {
    transform: rotate(200deg);
  }
}

.workout-link {
  font-size: 4rem;
}

.workout-link:hover {
  cursor: pointer;
}

@media (max-width: 780px) {
  .top-boiler {
    width: 100vw;
    height: 60vh;
    border: none;
    border-radius: 0;
  }

  .top-boiler .sky,
  .top-boiler .land {
    border-radius: 0;
  }

  .pullup-bar {
    width: 100px;
    height: 150px;
    position: relative;
  }

  .pullup-bar .bars {
    width: 7px;
  }

  .pullup-bar .bar-top {
    transform: translateX(-40px) rotate(-90deg);
  }

  .pullup-bar h5 {
    position: absolute;
    /* font-size: 3.25rem; */
    transform: translate(-10px, -25px);
    z-index: 20;
  }
  .pullup-bar h5.hovering {
    animation: word_updown 2s infinite;
  }

  @keyframes word_updown {
    0% {
      transform: translate(-10px, -25px);
    }
    50% {
      transform: translate(-10px, -70px);
    }
    100% {
      transform: translate(-10px, -25px);
    }
  }

  #section1 {
    border-radius: 0;
  }

  #section1 .content h1 {
    font-size: 2rem;
  }
}
